__pycache__/
*.pyc
.env
.venv/
*.egg-info/
data/raw
data/processed
results/
figures/
!data/raw/.gitkeep
!data/processed/.gitkeep
!results/.gitkeep
!figures/.gitkeep
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.DS_Store
.vscode/
